<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Document</title>
    </head>
    <body>
        <h1>Things I need to do...</h1>

        <table>

            {% for item in items %}
            <tr>
                {% if item.done %}
                <td><strike>{{ item.name }}</strike></td>
                {% else %}
                <td>{{ item.name }}</td>
                {% endif %}

                <td>
                    <form method="POST" action="toggle/{{ item.id }}">
                    {% csrf_token %}
                        <input type="submit" value="Toggle">
                    </form>
                </td>

                <td>
                    <form method="GET" action="edit/{{ item.id }}">
                        <input type="submit" value="Edit">
                    </form>
                </td>
            </tr>
            {% empty %}
            <p>You have nothing to do.</p>
            {% endfor %}
        </table>

        <a href="add"> Add an item</a>
    </body>
</html>