<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Document</title>
    </head>
    <body>
        <h1>Things need to do this...</h1>

        <form method="POST">

            {% csrf_token %}
            
            <label for="id_name">Name:</label><br>
            <input type="text" id="id_name" name="name" /><br>
            <br>
            <label for="id_done">Done:</label><br>
            <input type="checkbox" id="id_done" name="done" /><br>
            <br>
            <button type="submit">Save</button>
        </form>
    </body>
</html>